@model List<ServiceItemViewModel>
@{
	TextFieldViewModel textField = ViewBag.TextField;

	ViewBag.Title = textField.MetaTitle;
	ViewBag.Description = textField.MetaDescription;
	ViewBag.Keyword = textField.MetaKeywords;
}

<div>
	@if (Model.Any())
	{
		<ul class="big-image-list">
			@foreach (ServiceItemViewModel item in Model)
			{
				<li>
					<a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">
						<img src="~/images/@item.TitleImagePath" alt="" class="left" />
					</a>
					<h4>@item.Title</h4>
					<p>@item.Subtitle</p>
				</li>
			}
		</ul>
	}
</div>